<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
	<meta charset="<?php bloginfo( 'charset' ); ?>">
	<meta name="viewport" content="width=device-width">
	{{wp_head}}
</head>

<div class="nav">
	<div class="logo">
		<img src="{{ logo }}" alt="">
	</div>
	<div class="menu">
		<ul>
			{% for item in menu.get_items %}
				<li>
					<a href="{{item.get_link}}">{{item.title}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

{{ var_test_global }}





