{% include 'header.twig' %}

 <!-- TimberPost(19).content => Permet de récuperer l'id du post et d'en afficher son contenu -->
<section style="background: center center / cover url({{ TimberPost(19).thumbnail }})" class="sliderheader">
     
     {{ TimberPost(19).content }}
      
 </section>


 <!-- post.title permet de récuperer les titres du custom post "plats" -->
 <!-- post.content permet de récuperer les contenus du custom post "plats" -->
 <!-- post.get_field permet de récuperer les prix (chiffre) du custom post "plats" -->
<div class="plats">
{% for post in plats %}
    <div class="plat">
        <h3>{{ post.title }}</h3> 
        <p>{{ post.content }}</p>
        <p>{{post.get_field('prix')}} €</p>
    </div>
{% endfor %}
</div>

<!-- SwiperSlider -->
<div class="swiper-container">
    <div class="swiper-wrapper">
		{% for post in plats_en_avant %}
		    <div class="swiper-slide">
		    	<div style="background: center center / cover url({{ post.thumbnail }})">
                </div>
		        <h3>{{ post.title }}</h3>
		        <p>{{ post.content }}</p>
		        <p>{{post.get_field('prix')}} €</p>
		    </div>
		{% endfor %}
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>

	<!-- Les Articles de blog -->
<section class="blog">
    <h2>Derniers Articles</h2>
    <div>
        {% for post in articles %}
		<div>
            <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <div style="background: center center / cover url({{ post.thumbnail }})" class="sizebgblog">
        </div>
   		</div>
    </div>
        {% endfor %}
</section>

<section>
    <h2>Restaurants</h2>
    <div class="restaurants">
       <div class="json"></div>
    </div>
</section>



		
	{% include 'footer.twig' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
	<script> var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    }); </script>
