{% include 'header.twig' %}

 <!-- TimberPost(19).content => Permet de récuperer l'id du post et d'en afficher son contenu -->
<section style="background: center center / cover url({{ TimberPost(19).thumbnail }})" class="sliderheader h300">
     
     {{ TimberPost(19).content }}
      
 </section>


 <!-- post.title permet de récuperer les titres du custom post "plats" -->
 <!-- post.content permet de récuperer les contenus du custom post "plats" -->
 <!-- post.get_field permet de récuperer les prix (chiffre) du custom post "plats" -->
<div class="flex row wrap center center-h">
{% for post in plats %}
    <div class="plat w45 flex between center-h pl-1 pr-1">
        <h3>{{ post.title }}</h3> 
        <p>{{ post.content }}</p>
        <p>{{post.get_field('prix')}} €</p>
    </div>
{% endfor %}
</div>

<h2 class="flex center-h flex-start mt-5 mb-2 ml-25">Les TOP plats</h2>
<!-- SwiperSlider -->
<div class="swiper-container">
    <div class="swiper-wrapper">
		{% for post in plats_en_avant %}
		    <div class="swiper-slide flex column center center-h">
		    	<div style="background: center center / cover url({{ post.thumbnail }})" class=" w70 h10em ">
                </div>
		        <h3>{{ post.title }}</h3>
		        <p>{{ post.content }}</p>
		        <p>{{post.get_field('prix')}} €</p>
		    </div>
		{% endfor %}
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>

	<!-- Les Articles de blog -->
<section class="blog">
    <h2 class="flex center-h flex-start mt-5 mb-2 ml-26">Les News</h2>
    <div>
        {% for post in articles %}
		<div class="flex column center center-h">
            <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <div style="background: center center / cover url({{ post.thumbnail }})" class="sizebgblog w70 h10em  ">
        </div>
   		</div>
    </div>
        {% endfor %}
</section>

<section>
    <h2 class="flex center-h flex-start mt-5 mb-2 ml-25">Les Restaurants</h2>
    <div>
       <div class="json" style="display: grid;justify-content: center;text-align: center;"></div>
    </div>
</section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
	<script> var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    }); </script>
